
body {
    color: black;
    background:tan;
    text-align: center;
    padding: 15px 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 60px;
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
}

h3 {
    text-align:left;
    font-size: 30px;
    margin-left: 5%;
}

ul {
    text-align:left;
    font-size: 25px;
    line-height: 35px;
    width: 90%;
    margin: 20px auto;
}

ol {
    text-align: left;
    font-size: 30px;
    line-height: 50px;
    width: 90%;
    margin: 40px auto;
}

.odkazy {
    text-decoration: none;
    color:black;
    border-radius: 4px;
    padding: 1px 6px;
    background-color: beige;
}

p {
    font-size: 20px;
    line-height: 30px;
    width: 90%;
    margin: 20px auto;
}

code {
    font-size: 18px;
	background-color:beige;
    border-radius: 4px;
    padding: 1px 6px 3px 6px;
}

img {
    border-width: 5px;
    margin: 1%;
    border-style: solid;
    border-color: black;
}

.odkazy:hover, #hoverdemo:hover {
    border-width: 2px;
    border-style:solid;
    border-color:brown;
}
